@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
  }
  html{
    scroll-behavior: smooth;
  }
.navbar {
    background: linear-gradient(to right, #23bb62, #1fc5c1)!important;
    transition: 0.8s;
}
#logo{
    font-size: 30px;
    padding: 10px;
    color: white !important;
    font-family: 'Ubuntu', sans-serif !important;
}
.nav-link{
  text-decoration: none;
    margin: 0 15px;
    color: white !important;
    font-family: 'Ubuntu', sans-serif !important;
}
.nav-item a{
  text-decoration: none;
}
.nav-link:hover{
    text-decoration: underline;
}
#in,#up{
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    color: black !important;
}
#in:hover,#up:hover{
    background-color: rgb(167, 255, 159);
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #000000 !important;
    z-index: 1000;
    transition: 0.8s;
}

.sticky .navbar-brand,
.sticky .nav-link {
    color: white !important;
}

.head{
    min-height: 90vh;
    background: linear-gradient(to right, #23bb62, #1fc5c1);
    display: flex;
    justify-content: space-between;
}
.head .content{
    width: 100%;
    margin: 4% 0% 0% 7%;
}
.head .content h1{
    color: white;
    font-weight: bold;
    font-size: 80px;
    width: 90%;
    line-height: 1;

}
.head .content p{
    color: white;
    width: 85%;
    font-size: 20px;
    margin-top: 4vh;
    margin-bottom: 7vh;
}
.head .content a{
    color: black;
    background-color: white;
    padding: 10px 20px;
    border-radius: 15px
}
.head .head-pic{
    margin:  auto 5vw;
    width: 60%;
    height: 60%;
}
.discover{
    padding: 20vh 0vw;
    text-align: center;
}
.discover h1{
    
    margin: 0 auto;
    width: 60%;
    font-size: 4rem;
}
.discover p{
    margin: 4vh auto;
    font-size: 20px;
    color: gray;
    width: 70%;
}
.custom-carousel {
    width: 60%; 
    margin: 0 auto; 
  }
  .custom-carousel .carousel-inner img {
    height: 70vh;
    object-fit: cover; 
  }
  .special {
    background: linear-gradient(to right, #23bb62, #1fc5c1);
    padding: 10% 3% 7% 3%;
    text-align: center;
}

.special h1 {
    color: white;
    font-size: 3rem;
}

.carrd {
    position: relative;
    display: inline-block;
    margin: 5% 2%;
    width: 30%; 
    max-width: 200px; 
    height: auto;
    overflow: hidden;
    background-color: #f0f0f0; 
}
.carrd img {
    width: 100%;
    height: 50vh;
}

.special .off {
    position: absolute;
    bottom: 0; 
    left: 1.5vw;
    background-color: rgba(255, 255, 255); 
    padding: 1px; 
    width: 80%;
    text-align: center;
}
.carrd h6 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red; 
    color: #fff;
    padding: 0.5em 1em;
    margin: 0;
    font-size: 1rem;
}
.special .off h4 {
    color: #000;
    font-size: 1.2rem; 
    margin-top: 2vh; 
    font-family: 'Courier New', Courier, monospace;
}

.special .off p {
    font-size: 1rem;
}
.special span{
    text-decoration: line-through;
}
.special a{
    color: #000;
    background-color: white;
    padding: 10px 15px;
    width: 20%;
    margin: 1em auto 0 auto;    
    border-radius: 8px;
    text-decoration: none;
    transition: 0.9s;
    display: block; 
}
.special a:hover{
    background-color: black;
    color: white;
    transition: 0.9s;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #000000;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}
